/* ==UserStyle==
@name        ANU CS Dark
@namespace   https://github.com/pl4nty/dotfiles/
@version     1.2.0
@updateURL   http://localhost:8000/dotfiles/userstyles/anucs-dark.user.css
@author      Tom Plant
==/UserStyle== */
@-moz-document url-prefix("https://cs.anu.edu.au") {
    body, #body-wrap, #body, /* background */
    #body p, #body ul.menu li a, .search-box, .search-menu, /* infoboxes, sidebar */
    th, td, /* tables */
    .box-college, /* instruction boxes */
    #update-details, #update-wrap, /* footer */
    
    /* news */
    .search-form,
    .anu-share,
    .panel-pane
    {
        background: #2d2c2c !important; 
        color: #c1c1c1;
    }
    
    /* borders */
    .search-box, .search-menu,
    .search-form, .search-form label,
    #update-details
    {
        border: #2d2c2c;
        color: #c1c1c1;
    }
    
    /* sidebar borders */
    div.menu-flat, #menu li a, div.menu-flat li {
        border-color: #e6424b;
        background-color: #e6424b;   
    }
    
    /* headings */
    h1, h2, h3, .hdr-uni{
        color: #b34a50;
    }
    
    /* links */
    a[href] {
        color: #cc252ee0;
    }
    a[href]:visited {
        color: #fb6f76;
    }
    
    /* images and code */
    p img[src$=".png"], .highlighter-rouge {
        filter: invert(100%) invert(15%) sepia(6%) saturate(245%) hue-rotate(314deg) brightness(92%) contrast(90%);
    }
    
    /* dates */
    .dateblock-line .day, .dateblock-line .month, .dateblock-line .year {
        color: #f9474796;
    }
}